/* Стили для выпадающего списка */
body {
    background: linear-gradient(to bottom, rgb(249, 155, 3), rgb(197, 183, 90));
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

section {
    overflow: hidden; /* Добавлено свойство overflow: hidden */
}

select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center;
    margin-top: 20px;
}

.top-message {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px;
    background-color: transparent;
    font-size: 24px;
    color: rgba(51, 51, 51, 0.8);
    z-index: 1000;
}

.main-message {
    text-align: left;
    margin-top: 90px;
}

.main-message a {
    color: red;
    text-decoration: none;
}

.main-message a:hover {
    color: orange;
    text-decoration: none;
}

/* Стили для опций списка */
option {
    font-size: 16px;
}

/* Стили для элементов списка при наведении */
option:hover {
    background-color: #f9f9f9;
}

/* Стили для элементов списка при выборе */
option:checked {
    background-color: #f0f0f0;
}

.page-description {
    font-size: 24px;
    color: #333;
    margin-top: 20px;
}

.page-text {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
}

.separator {
    font-size: 24px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #333;
}