body {
    background: linear-gradient(to right, #000000, #333333);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* ! */
.logo {
    position: fixed;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
}
  
  .logo img {
    width: 50px;
    height: 50px;
    transition: transform 0.7s;
  }

.container {
    position: fixed;
    top: 20px;
    left: 20px;
    display: inline-block;
    cursor: pointer;
    transition: transform 0.5s;
    transform-origin: center;
    margin-bottom: 20px;
}


.menu {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 1px 1px;
    background-color: rgb(190, 152, 47);
    border-radius: 5px;
    transition: background-color 0.5s;
    opacity: 1;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: auto;
    right: 0;
    background-color: #f9f9f9;  /* f9f9f9 */
    padding: 5px 0;
    border: 1px solid #ccc;
    transition: transform 0.3s, opacity 0.3s;
    transform-origin: top;
    transform: scaleY(-3);
    opacity: 0;
    transform-style: preserve-3d;
    list-style: none;
}

.submenu ul li {
    padding: 15px 30px;
    transform: scaleY(-1) scaleX(-1);
}

.submenu li {
    display: block;
    margin-bottom: 10px;
}

.container.active .submenu {
    transform: scaleY(1);
    opacity: 0.8;
    top: 60px; /* Измените значение, чтобы определить желаемую высоту */
  }

.container.active {
    transform: rotate(180deg);
}

.container.active .menu {
    background-color: rgb(190, 152, 47);
}
.header_values {
    color: #fff;
    display: flex;
    flex-direction: column; /* Для вертикального выравнивания */
    justify-content: center; /* Для центрирования по вертикали */
    align-items: center; /* Для центрирования по горизонтали */
    text-align: center; /* Для центрирования текста по центру */
    height: 20px; /* Чтобы занимать всю высоту окна браузера */
    padding-bottom: 40px;
}

/* ! */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;

}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 2%;
    box-shadow: 0 5px 10px #000;
}
header .logo_main{
    color: #000;
    font-size: 20px;
    font-weight: 900;
    width: 3%;
    transition: 0.5s;
}
.logo_main{
    filter: grayscale(100%);
}
.logo_main:hover{
    filter: grayscale(0%);
}
.logo{
    filter: grayscale(100%);
}
.logo:hover{
    filter: grayscale(0%);
}
header nav ul li{
    /* position: relative; */
    float: left;
}
.main_text h1 {
    color: #ddd;
    font-size: 50px;
    text-align: center;
}
.divider::after {
    content: "";
    display: block;
    border-bottom: 1px solid #ddd; 
    margin-top: 10px; /* расстояние между текстом и линией */
    margin-bottom: 50px; /* расстояние между текстом и линией */
}
.values {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.values_images {
    width: 100px; /* Ширина изображения */
    height: auto; /* Высота автоматически подстраивается */
}

.main_description_values {
    flex: 1; /* Занимает доступное пространство */
    color: #fff;
    margin-left: 10px; /* Отступ слева */
    white-space: pre-wrap; /* Для сохранения переносов строк */
}
.team_photos{
    padding-bottom: 350px;
    display: grid;
    place-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, #000000, #333333);
}
.container_photos{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15em;
}
.photos {
    width: 300px;
    height: 900px;
    object-fit: fill;
}
/**/
.photos {
    position: relative;
    width: 400px;
    height: 900px;
    object-fit: fill;
    transition: filter 0.3s; /* Плавное изменение фильтра */
}
.photos:hover {
    filter: blur(5px); /* Размытие при наведении */
}
.text_overlay {
    position: absolute;
    top: -50px; /* Расположение текста над верхней границей изображения */
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 24px;
    opacity: 1; /* Изначально видим */
    visibility: hidden; /* Изначально скрыт */
    transition: opacity 0.3s, visibility 0s linear; /* Плавное появление и исчезновение */
    z-index: 1; /* Чтобы текст был поверх изображения */
    pointer-events: none; /* Игнорирование событий мыши для текста */
}

.box-4:hover .text_overlay,
.box-5:hover .text_overlay,
.box-6:hover .text_overlay {
    opacity: 1; /* Появление при наведении на контейнер */
    visibility: visible; /* Появление текста */
    pointer-events: auto; /* Включение событий мыши для текста */
}

/* Задержка перед исчезновением текста */
.box-4 .text_overlay,
.box-5 .text_overlay,
.box-6 .text_overlay {
    opacity: 0;
    visibility: hidden; /* Скрытие текста */
    
}

.box-4:hover .text_overlay {
    padding-right: 1400px;
    padding-top: 100px;
    opacity: 1; /* Появление при наведении на контейнер */
}

.box-5:hover .text_overlay {
    padding-right: 90px;
    padding-top: 100px;
    opacity: 1; /* Появление при наведении на контейнер */
}

.box-6:hover .text_overlay {
    padding-left: 1150px;
    padding-top: 100px;
    opacity: 1; /* Появление при наведении на контейнер */
}

/**/
.team{
    color: #fff;
    display: flex;
    flex-direction: column; /* Для вертикального выравнивания */
    justify-content: center; /* Для центрирования по вертикали */
    align-items: center; /* Для центрирования по горизонтали */
    text-align: center; /* Для центрирования текста по центру */
    height: 20px; /* Чтобы занимать всю высоту окна браузера */
    padding-bottom: 40px;
}
.main_text{
    color: #fff;
    text-align: center;
}
.main_description{
    color: #fff;
    padding-top: 10px;
}
header nav ul li a{
    padding: 15px;
    color: #000;
    font-size: 16px;
    display: flex;
}
header nav ul li a:hover{
    background: #000;
    color: #fff;
}
.navbar {
    overflow: hidden;
    background: #333333;
    display: flex;
    padding-right: 50px;
    justify-content: center;
    align-items: center;
}
.logo_main:hover{
    transform: scale(1.2);
}  
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
.navbar a:hover, .dropdown:hover .dropbtn {
    transition: 1s;
    background-color: rgb(255, 162, 0);
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
} 
.dropdown-content a:hover {
    background-color: #ddd;
}  
.dropdown:hover .dropdown-content {
    display: block;
}
a.input {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.headercontent{
    width: 97%;
    display: flex;
    justify-content: center;
}
img.logo_main {
    width: 50px;
    height: auto;
    top: 10px; /* Отступ сверху */
    left: 10px; /* Отступ слева */
    z-index: 1; /* Помещаем над остальными элементами */
}


.menu-icon {
    position: absolute; /* Позиционируем абсолютно */
    top: 60px; /* Отступ сверху */
    left: 10px; /* Отступ слева */
    cursor: pointer; /* Курсор при наведении */
    z-index: 1; /* Помещаем над остальными элементами */
}

.sidebar {
    position: absolute; /* Позиционируем абсолютно */
    top: 110px; /* Отступ сверху */
    left: -200px; /* Скрытый слева */
    width: 200px;
    background: rgb(249, 155, 3); /* Прозрачный фон */
    transition: left 0.3s; /* Плавное появление */
    padding: 20px; /* Отступы внутри */
}

.sidebar.show {
    left: 0; /* Показываем меню */
}
.sidebar a {
    display: block;
    margin-bottom: 10px; /* Отступ между ссылками */
    color: black; /* Цвет текста ссылки */
    text-decoration: none; /* Убираем подчеркивание */
    transition: color 0.3s; /* Плавное изменение цвета */
}

.sidebar a:hover {
    color: rgb(240, 240, 238); /* Новый цвет при наведении */
}


.content {
    padding: 20px; /* Отступы контента */
    margin-left: 220px; /* Отступ слева для учета ширины меню */
}

.sidebar button,
.sidebar a {
    display: block;
    margin-bottom: 10px; /* Отступ между кнопками (или ссылками) */
}
