<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Заходи</title>
    <link rel="stylesheet" type="text/css" href="css/events.css">
</head>
<body>
    <section>
        <div class="top-message">Заходи</div>
        <div class="main-message"><a href="main.html" target="_self" title="Головна">Головна сторінка</a></div>
    </section>

    <select onchange="window.location.href=this.value;">
        <option value="" disabled selected>Виберіть цікаві вам заходи</option>
        <option value="category1.html">1</option>
        <option value="category2.html">2</option>
        <option value="category3.html">3</option>
        <option value="category3.html">4</option>
        <!-- Добавьте другие категории по аналогии -->
    </select>
    <pre>
       <h3 class="page-description">Опис сторінки</h3>
       <p class="page-text">Текст вашей страницы</p>
       <pre><h1>
        Lor
        em
         ipsum dolor sit 
        ame
        t c
        o
        nsec
        etu
        r 
        adipi
        sicing e
        li
        t
        . 
        Asper
        iores, iusto optio ullam 
        te
        mp
        or
        a even
        ie
         rat
        io
        ne f
        ac
        er
        e ip
        s
        am 
        i
        gn
        is
        si
        mo
        s reic
        ie
        n
        d
        is 
        a

        tque. Re
        cu
        san
        dae
         quo, debitis sap
        ien

        te i
        n molliti
        a is
        te.
       </pre>
       <h3 class="separator">---</h3>
    </pre>
</body>
</html>