<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Магазинчик</title>
    <link rel="stylesheet" href="css/shop.css">
</head>
<body>
    <a href="main.html">Головна cторінка</a><br>
    
    <h1>Ласкаво просимо в наш Магазинчик!</h1>
    
    <div class="products">
        <div class="product">
            <img src="images/socks.jpg" alt="Носки">
            <h2>Шкарпетки</h2>
            <p>Чудові шкарпетки</p>
            <button>Купити</button>
        </div>
        <div class="product">
            <img src="images/cards.jpg" alt="Карты">
            <h2>Карти</h2>
            <p>Набір авторських гральних карт</p>
            <button>Купити</button>
        </div>
    </div>
</body>
</html>
